        <p>Add Details</p>
        <div class="form-group" [formGroup]="rForm">
        <mat-form-field>
          Name:
        <input type="text" matInput class="formControl" formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field>
          Surname:
        <input type="text" matInput class="formControl" formControlName="surname">
        </mat-form-field>
        <br>
        <mat-form-field>
          Phone:
          <input type="text" matInput class="formControl" formControlName="phone">
        </mat-form-field>
        <br>
        <mat-form-field>
          Street:
          <input type="text" matInput class="formControl" formControlName="street">
        </mat-form-field>
        <br>
        <mat-form-field>
          City:
          <input type="text" matInput class="formControl" formControlName="city">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="BirthDate" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <br>
        <mat-form-field>
            Number:
            <input type="text" matInput class="formControl" formControlName="number">
          </mat-form-field>
        <div>
          <button mat-button (click)="clear()">Clear</button>
          <button mat-button [disabled]="!rForm.valid" (click)="onregister()" >Add</button>
        </div>
      </div>
